<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <header class="flex">
      <link href="/css/output.css" rel="stylesheet" />
      <link href="/css/global.css" rel="stylesheet" />
      <div class="logo w-2/12">
        <img
          src="/images/logo.jpg"
          alt="Not Found"
          height="44px"
          width="44px"
        />
      </div>
      <nav class="w-10/12">
        <ul class="flex justify-between w-full py-2 px-4">
          <li
            class="<%= active === 'home' ? 'nav-links active' : 'nav-links' %>"
          >
            Home
          </li>
          <li
            class="<%= active === 'classroom' ? 'nav-links active' : 'nav-links' %>"
          >
            Classroom
          </li>
          <li
            class="<%= active === 'allclass' ? 'nav-links active' : 'nav-links' %>"
          >
            All Classes
          </li>
          <li
            class="<%= active === 'leaderboard' ? 'nav-links active' : 'nav-links' %>"
          >
            Leaderboard
          </li>
          <li
            class="<%= active === 'profile' ? 'nav-links active' : 'nav-links' %>"
          >
            Profile
          </li>
        </ul>
      </nav>
    </header>
  </body>
</html>
